@import "./variables.css";

/* =========================
   Global Reset
========================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  background: var(--light);
  color: var(--text-dark);
  line-height: 1.6;
  overflow-x: hidden;
}

/* =========================
   Typography
========================= */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--dark-2);
  font-weight: 700;
  line-height: 1.2;
}

p {
  font-family: var(--body-font);
  color: #4b5563;
  font-size: 1rem;
}

/* =========================
   Links
========================= */

a {
  text-decoration: none;
  color: inherit;
  transition: var(--transition);
}

/* =========================
   Lists
========================= */

ul,
ol {
  list-style: none;
}

/* =========================
   Images
========================= */

img {
  max-width: 100%;
  display: block;
}

/* =========================
   Buttons
========================= */

button {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: var(--body-font);
  transition: var(--transition);
}

/* =========================
   Inputs
========================= */

input,
textarea,
select {
  font-family: var(--body-font);
  outline: none;
}

/* =========================
   Layout
========================= */

section {
  padding: 90px 8%;
}

.container {
  width: 90%;
  max-width: 1300px;
  margin: auto;
}

/* =========================
   Selection
========================= */

::selection {
  background: var(--primary);
  color: var(--dark-2);
}

/* =========================
   Scrollbar
========================= */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--light);
}

::-webkit-scrollbar-thumb {
  background: var(--dark);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--dark-2);
}